<h1>{{ title }}</h1>
<div style="display: flex; justify-content: center">
  <fa-icon [icon]="faApple" style="font-size: 65px; color: gold"></fa-icon>
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et fuga
  ratione pariatur blanditiis corrupti impedit eaque doloribus ipsam tempore
  eius ad quis, iure veniam at dolorum sequi cupiditate deserunt. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Pariatur odio molestias eveniet
  tempore magni eaque. Eos, libero debitis quos aliquam dolor tempora obcaecati
  repellendus quia! Assumenda maxime est vitae ut. Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Magnam, obcaecati deleniti sequi sit ea
  voluptatem, impedit facere aliquam numquam amet quibusdam ipsa minima deserunt
  quasi. Dolore aliquam labore nam ipsum? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Earum suscipit inventore aliquid quis doloribus,
  voluptatibus aut at! Vitae placeat numquam, ducimus aperiam tempore facilis
  amet voluptates soluta a suscipit beatae.
</div>

<div style="display: flex; justify-content: center">
  <fa-icon [icon]="faGoogle" style="font-size: 65px; color: gold"></fa-icon>
</div>
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda et fuga
  ratione pariatur blanditiis corrupti impedit eaque doloribus ipsam tempore
  eius ad quis, iure veniam at dolorum sequi cupiditate deserunt. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Pariatur odio molestias eveniet
  tempore magni eaque. Eos, libero debitis quos aliquam dolor tempora obcaecati
  repellendus quia! Assumenda maxime est vitae ut. Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Magnam, obcaecati deleniti sequi sit ea
  voluptatem, impedit facere aliquam numquam amet quibusdam ipsa minima deserunt
  quasi. Dolore aliquam labore nam ipsum? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Earum suscipit inventore aliquid quis doloribus,
  voluptatibus aut at! Vitae placeat numquam, ducimus aperiam tempore facilis
  amet voluptates soluta a suscipit beatae.
</div>
