<div class="container">
  <div class="row">
    <div class="col-6 d-flex">
      <h1>Colud Computing</h1>
      <fa-icon [icon]="faApple"> </fa-icon>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id doloremque
        sapiente, qui quaerat aliquam distinctio officiis itaque ducimus
        cupiditate cumque nesciunt fugit dolorum, ex eveniet. Velit quo itaque
        quos commodi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Blanditiis itaque, quod voluptas modi fugiat, harum accusantium
        exercitationem dignissimos voluptatem veniam vitae veritatis obcaecati
        cumque? Doloremque incidunt in consectetur impedit laudantium? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Tempore repellendus
        placeat quod nemo, alias quam debitis sed, omnis eum est inventore
        repellat fugiat eius illo rerum quidem commodi nisi laboriosam? Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Excepturi pariatur
        officia natus, inventore harum illum tempora ducimus aliquam dolore hic
        optio totam ea iusto soluta qui eaque assumenda magnam doloremque. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Ut sit, odit nam
        molestiae deserunt voluptate aperiam excepturi rem et nihil consectetur
        nobis, dolores vero ipsam inventore distinctio repudiandae laborum
        provident.
      </p>
    </div>
    <div class="col-6 d-flex">
      <h1>Colud Computing</h1>
      <fa-icon [icon]="faApple"> </fa-icon>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id doloremque
        sapiente, qui quaerat aliquam distinctio officiis itaque ducimus
        cupiditate cumque nesciunt fugit dolorum, ex eveniet. Velit quo itaque
        quos commodi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Blanditiis itaque, quod voluptas modi fugiat, harum accusantium
        exercitationem dignissimos voluptatem veniam vitae veritatis obcaecati
        cumque? Doloremque incidunt in consectetur impedit laudantium? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Tempore repellendus
        placeat quod nemo, alias quam debitis sed, omnis eum est inventore
        repellat fugiat eius illo rerum quidem commodi nisi laboriosam? Lorem
        ipsum dolor sit amet consectetur, adipisicing elit. Excepturi pariatur
        officia natus, inventore harum illum tempora ducimus aliquam dolore hic
        optio totam ea iusto soluta qui eaque assumenda magnam doloremque. Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Ut sit, odit nam
        molestiae deserunt voluptate aperiam excepturi rem et nihil consectetur
        nobis, dolores vero ipsam inventore distinctio repudiandae laborum
        provident.
      </p>
    </div>
  </div>
</div>
