<div class="container">
  <div class="row">
    <div class="col">
      <h1>hello world</h1>
      <button class="btn btn-primary">like</button>
      <hr />
      <app-server> </app-server>
      <hr />
      <app-servers></app-servers>
      <!--<app-servers></app-servers>-->
      <!--<div app-servers></div>-->
      <!--<div class="app-servers"></div>-->

      <hr />
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <hr />
      <h4>Assignment 2</h4>
      <button class="btn btn-primary" (click)="showSecret = !showSecret">
        Display Details
      </button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <hr />
      <h4>Assignment 2</h4>
      <button class="btn btn-primary" (click)="onToggleDetails()">
        Display Details
      </button>
      <div
        *ngFor="let logItem of log"
        [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transparent' }"
      >
        {{ logItem }}
      </div>
      <hr />
    </div>
  </div>
</div>
