<div class="container">
  <div class="row mt-4">
    <div class="col-3 mb-2" *ngFor="let item of educationList">
      <h2>Education Title</h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tempora
      repellat sunt architecto vitae facilis deleniti iusto, assumenda autem
      expedita incidunt soluta debitis accusamus illum rerum dolor ex qui et.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae sed quasi
      vero exercitationem! Eos nesciunt dolor error sequi recusandae! Possimus
      repellat libero nulla adipisci eum nobis deleniti temporibus soluta rerum.
    </div>
  </div>
</div>
